<nav class="navbar navbar-expand-lg bg-body-transparent">
    <div class="container-fluid">
      
      <h2 class="navbar-brand m-3" href="#">Explore Products</h2>
  
        <ul class="nav navbar justify-content-end m-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vegetables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fruits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Coffe And Teas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meat</a>
          </li>
        </ul>
    
    </div>
  </nav>
  <script src="js/addons/rating.js"></script>

<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper w-auto " >
        <div class="card bg-warning-subtle p-3 m-2">
         <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
<div class="card-body">
    <small>Vegetables</small>
    <h4>Redish 500g</h4>
    <ul class="card-body rating" data-mdb-toggle="rating">
        <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
        <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
        <i class="fas fa-star fa-sm text-primary" title="OK" ></i>
        <i class="fas fa-star fa-sm text-primary" title="Good"></i>
        <i class="far fa-star fa-sm text-primary" title="Excellent"></i><br>
        <small>By MrFood</small>
        <h4><i class="fas fa-dollar-sign"></i>2</h4> <h4>3.45</h4> <button><i class="fas fa-cart-plus"></i>ADD</button>
      </ul><p>Peans</p><small>20 items</small>
</div>
        </div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          
            <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
            
            <div class="card-body text-center">
            <ul class="card-body rating" data-mdb-toggle="rating">
                <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                <i class="fas fa-star fa-sm text-primary" title="OK" ></i>
                <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
              </ul>
    <p>Peans</p><small>20 items</small>
   </div>
           
            
        </div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
         
            <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
   <div class="card-body text-center">
    <ul class="card-body rating" data-mdb-toggle="rating">
        <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
        <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
        <i class="fas fa-star fa-sm text-primary" title="OK" ></i>
        <i class="far fa-star fa-sm text-primary" title="Good"></i>
        <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
      </ul><p>Peans</p><small>20 items</small>
   </div>
           
            
        </div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
    <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
    <div class="card-body text-center">
        <ul class="card-body rating" data-mdb-toggle="rating">
            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
            <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
            <i class="fas fa-star fa-sm text-primary" title="OK" ></i>
            <i class="fas fa-star fa-sm text-primary" title="Good"></i>
            <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
          </ul>
        <p>Peans</p>
        <small>20 items</small>
    </div>
</div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
    <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
    <div class="card-body text-center">
        <ul class="card-body rating" data-mdb-toggle="rating">
            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
            <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
            <i class="fas fa-star fa-sm text-primary" title="OK" ></i>
            <i class="far fa-star fa-sm text-primary" title="Good"></i>
            <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
          </ul>
        <p>Peans</p>
        <small>20 items</small>
    </div>
</div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
    <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
    <div class="card-body text-center">
        <p>Peans</p>
        <small>20 items</small>
    </div>
</div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
    <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
    <div class="card-body text-center">
        <p>Peans</p>
        <small>20 items</small>
    </div>
</div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
    <img src="/assets/Peach.jpg" alt="" width="120" height="120"/>
    <div class="card-body text-center">
        <p>Peans</p>
        <small>20 items</small>
    </div>
</div>

        
      </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/Vegetables.jpg" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Peans</p>
                <small>20 items</small>
            </div>
        </div>
          
      </div>
      </div>
      
    <!-- <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>