
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
/* 
  .Parag{
   width: 40%;
   display: block;
   margin: 5px auto;
  } */
/* 
  .product{
    grid-template-columns: repeat(2fr);
  } */