<div class="card border-0 text-black">
  <img
    src="/assets/grocery_background.jpg"
    alt=""
    class="card-img w-100 h-auto opacity-25"
    height="100"
  />
  <div
    class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center"
  >
    <div>
      <p id="product_list_text" class="card-title fs-1 fw-bolder">Orders</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-absolute">
    
        <app-profilenav></app-profilenav>
    
    
    <div class="mx-5 d-flex justify-content-center">
        <div class="row g-1 m-lg-5 d-flex justify-content-center">
            <div style="text-align: center; border-top: 2px solid black;margin-bottom:10px">
                <div style="display: inline-block; position: relative; top: -10px; background-color: white; padding: 0px 10px;font-size: 25px">Past Orders</div>
              </div>
      <mat-accordion class="row g-5 m-lg-5 d-flex justify-content-center">
        <mat-expansion-panel *ngFor="let arr of PastOrderArr">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img
                src="https://img.icons8.com/cute-clipart/40/null/in-transit.png"
              />
              <small class="m-2 text-muted">Complete</small>
              <div class="vl"></div>
              <small class="text-muted">{{arr.day}}</small>
            </mat-panel-title>
            <mat-panel-description>
              <small>{{arr.time}}</small>
              <div class="vl"></div>
              <small>Order Amount: RS {{arr.order_amount}}</small>
              <div class="vl"></div>
              <span>{{arr.item}} Item</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{arr.product_details}}</p>
        </mat-expansion-panel>
              </mat-accordion>

    </div>

</div>
</div>
