<ul class="topnav">
  <li class="right"><a  routerLink="login">Login</a></li>
  <li class="right"><a routerLink="front/user/registration">Registration</a></li>
  <li><a routerLink="front/user/user-profile">User-Profile</a></li>
  <li><a routerLink="front/catalogue/product-details">Product-details</a></li>
  <li><a routerLink="front/catalogue/product-list">Product-List</a></li>
  <li class="dropdown">
    <a routerLink="front/catalogue/category" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>

</ul>


<router-outlet></router-outlet>
