<!-- Display the products that belong to the selected category -->

<div class="card border-0 text-black">
    <img src="/assets/grocery_background.jpg" alt="" class="card-img w-100 h-auto opacity-25" height="100" >
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
<div>
  <p id="product_list_text"class="card-title fs-1 fw-bolder" *ngIf="category;else not_category">{{ category }}</p>
  <ng-template #not_category>
    <p id="product_list_text"class="card-title fs-1 fw-bolder">Grocery Products</p>
  </ng-template>
      </div>
    </div>
  </div>
  
      <div class="d-flex justify-content-end m-2">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img  src="https://img.icons8.com/fluency/48/null/filter--v1.png"/>
          </button>
         <form >
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories" ><button class="dropdown-item" type="button" name="category" [value]="category" (click)="Filter_Category(category)">{{category}}</button></li>
            <!-- <ng-template #other_category>
              <li><a class="dropdown-item nav-link" (click)="bysellername()">By Seller Name</a></li>
              <li><a class="dropdown-item nav-link" (click)="byname()">By Name</a></li>
            </ng-template> -->
            <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </form>
        </div>
        
      </div>


        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
            <div class="col" *ngFor="let product of filteredItems;let i=index">
                <div class="card bg-white p-2 m-2" >
                  <img  
                        class="rounded mx-auto d-block"
                        src="https://a521-117-217-127-105.in.ngrok.io/api/v1/product-images/{{product.product.avatar_image}}"
                        alt=""
                        [routerLink]="['/front/catalogue/product-details/',product.product.id, product.product.slug]"
                        width="120"
                        height="120"/>
                  <div class="card-body">
                    <small>{{product.product.title}}</small>
                    <h4>{{product.product.weight}}</h4>
                    <!-- <ul class="card-body rating" data-mdb-toggle="rating">
                      <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                      <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                      <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                      <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                      <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                      <br></ul> -->
                      <p>{{product.product.description}}</p>
                      <p>{{product.product.short_description}}</p>
                      <div class="text-center">
                        <i class="m-2 fw-bolder">{{product.product.amount | currency:'INR'}}</i>
                        <!-- <i class="text-decoration-line-through m-4">{{product.price | currency}}</i> -->
                        <button class="btn btn-outline-light" (click)="Add_cart(i,product)">
                            <img src="/assets/Cart-btn.png" alt=""></button>
                        </div>
                      
                    </div>
                  </div>
              </div>
          </div>
        </div>
               