<nav class="nav flex-column mt-5 my-3 w-50">

    <a class="nav-link" aria-current="page" routerLink="../user-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Profile</a>
    <a class="nav-link" routerLink="../orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Orders</a>
    <a class="nav-link" routerLink="../manageaddress" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Manage Addresses</a>
    <a class="nav-link" routerLink="../addaddress" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">ADD Addresses</a>
    <a class="nav-link" routerLink="../changepassword"routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Change Password</a>
    <a class="nav-link" (click)="logout()" *ngIf="Login_User">Logout</a>
      </nav>