<div class="card bg-body-transparent text-black">
    <img src="/assets/grocery_background.jpg" alt="" class="card-img w-100 h-auto opacity-25" height="100" >
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
<div>
  <p id="product_list_text"class="card-title fs-1 fw-bolder">My Cart</p>
      </div>
    </div>
  </div>


 
<!-- 
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let product of cart;let i=index">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/{{product.imageurl}}"
        alt=""
        width="120"
        height="120" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <button type="button" class="btn btn-transparent float-end" (click)="DelectProduct(product.id)"><img  src="https://img.icons8.com/material/96/null/delete-sign--v1.png" width="25" height="25"/></button>
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.weight}}</p>
          <div class="card-text"><button (click)="quantitymin(i)">-</button>
            {{product.quantity}}
            <button (click)="quantitymax(i)">+</button>
            <p>{{product.moneyOfferPrice * product.quantity | currency}} </p>
            </div>
        </div>
      </div>
    </div>
  </div> -->
  

<div class="table-responsive container">
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col">Item Description</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let product of cart;let i=index">
        
        <td>{{product.name}} <br/>{{product.weight}}</td>
        <td></td>
        <td><b>{{product.moneyOfferPrice | currency }}</b><br/> <span class="text-decoration-line-through">{{product.price | currency}}</span></td>
        <td><button (click)="quantitymin(i)">-</button>
          {{product.quantity}}
          <button (click)="quantitymax(i)">+</button>
          </td>
          <td class="fw-bolder">{{product.moneyOfferPrice * product.quantity | currency}}</td>
       
        <td> <button type="button" class="btn btn-transparent float-end" (click)="DelectProduct(product.id)"><img  src="https://img.icons8.com/material/96/null/delete-sign--v1.png" width="25" height="25"/></button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="table-responsive container d-flex justify-content-end mt-3 mb-3">
    <table>
    <tr>
      <td class="fs-6">Subtotal:</td>
      <td class="fs-6">{{ Subtotal() | currency}}</td>
    </tr>
    <tr>
      <td class="fs-6">GST:</td>
      <td class="fs-6">{{ GST | currency}}</td>
    </tr>
    <tr>
      <td colspan="2"><hr class="w-200 border border-dark border-2"></td>
    </tr>
  

    <tr class="mb-2">
      <td class="fs-6">Total Price:</td>
      <td class="fs-6">{{ Total | currency}}</td>
    </tr>
    <tr>
      <td colspan="2" class="text-center"><button type="button" class="btn btn-outline-success btn-transparent w-100" (click)="Checkout()">Checkout</button></td>
    </tr>
  </table>
    <p class="d-flex justify-content-end"> </p>
    <p class="d-flex justify-content-end"> </p>
    <p class="d-flex justify-content-end"> </p>
    
  </div>
 